<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXGYDVEb9xfv9adt3Mdgb_oO4bXA_ljDM</string>
	<key>GCM_SENDER_ID</key>
	<string>689265101383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campuskartt</string>
	<key>PROJECT_ID</key>
	<string>campuskartt-6e635</string>
	<key>STORAGE_BUCKET</key>
	<string>campuskartt-6e635.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689265101383:ios:24263963427def37f2ff62</string>
</dict>
</plist>